-# frozen_string_literal: true
= simple_form_for(@task) do |form|
  = form.error_notification
  = form.error_notification message: form.object.errors[:base].to_sentence if form.object.errors[:base].present?

  .form-inputs
    = form.input :name, label: t('.name'), class: 'mt-2 mb-2'
    = form.input :description, label: t('.description'), class: 'mt-2 mb-2'
    = form.input :due_date, label: t('.due_date'), class: 'mt-2 mb-2'
    = form.association :category, label: t('.category'), class: 'mt-2 mb-2'
    = link_to_add_nested(form , :participating_users, '#participants', partial:'participating_user_fields', link_text:"Agregar participante")
    #participants 
    
  .form-actions
    = form.button :submit, t('common.submit'), class: 'btn btn-light mt-2 mb-2'