.tasks.index-page
  .display-4 Lista de Tareas
  %p.text-muted.mb-2 A continuación verás toda la lista de tareas creadas, podrás crear una nueva tarea, editarla o eliminarla si eres el creador de la misma
  .card.bg-gray
    .card-body.pb-2
      .tasks-container
        - @tasks.each do |task|
          .task-container.d-flex.justify-content-between.mt-2.mb-2.border.border-dark.rounded.ps-3.pe-3.pt-2.pb-2.shadow
            .task-info
              .task-title
                %span.small= "[##{task.code}]"
                = task.name
                %span{class: "task-category #{task_badge(task)}"}
                  = task.category.name
              .task-description
                %svg{ :width => '25', :height => '25', :color => 'blue', :fill => "none", :stroke => "currentColor", "stroke-width" => "1.5", :viewbox => "0 0 24 24", :xmlns => "http://www.w3.org/2000/svg"}
                  %path{:d => "M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3", "stroke-linecap" => "round", "stroke-linejoin" => "round"}
                = task.description
              .task-dates
                %b= task.owner.email
                = "creado el #{l task.created_at, format: :long} / vence el #{task.due_date}"
            .task-interactions.d-flex.align-items-center
              .task-participants.d-flex
                - task.participating_users.includes(:user).each do |participant|
                  .task-participant{ class: "task-participant--#{participant.role}" }
                    = image_tag "https://robohash.org/#{participant.user.email}?size=60x60", title: participant.user.email
              .task-actions
                %button.bg-dark.btn.btn-sm.btn-secondary.dropdown-toggle.dropdown-toggle-split{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :type => "button"}
                .dropdown-menu.bg-dark{"aria-labelledby" => "taskMenu"}
                  %li 
                    = link_to t('common.show'), task, class: 'dropdown-item', data: { turbo: false }
                  %li
                    = link_to t('common.edit'), edit_task_path(task), class: 'dropdown-item'
                  %li  
                    = link_to t('common.destroy'), task, :data => { turbo_method: :delete, turbo_confirm: t('common.are_you_sure') }, class: 'dropdown-item'