%p#notice= notice

%p
  %b Name:
  = @task.name
%p
  %b Description:
  = @task.description
%p
  %b Due date:
  = @task.due_date
%p
  %b Category:
  = @task.category


#notes
  - @task.notes.each do |note|
    = render partial: 'tasks/notes/note', locals: {note: note}
%div{'data-controller': 'reset-form'}
  = simple_form_for(Note.new, url: task_notes_path(task_id: @task.id),  data: { action: "turbo:submit-end->reset-form#reset" } ) do |f|
    = f.input :body, as: :string, label: false, input_html: { autocomplete: :off, placeholder: 'Add a note' }

= link_to 'Edit', edit_task_path(@task), class: 'btn btn-dark'
\|
= link_to 'Back', tasks_path, class: 'btn btn-dark'
